.notice-div {
    position: absolute;
    right: 2%;
    top: 80%;
    width: 300px;
    z-index: 10;
}

.system-font {
    /*font-family: 'Zen Tokyo Zoo', cursive;*/
    /*font-family: 'Lato', sans-serif;*/
}

@font-face {
    /*font-family: Lato;
    src: url('public/fonts/Lato/Lato-Black.ttf');*/
    /*font-family: 'Zen Tokyo Zoo', cursive;*/
}
